.center_body {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

#search_header {
    padding: 38px 0px 0px 15px;
    width: 796px;
    display: flex;
    flex-direction: column;
    gap: 36px;
    border-bottom: 1px solid #000;
}

.title {
    color: #303337;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; /* 180% */
    letter-spacing: 0.1px;
}