.center_body {
    display: flex;
    flex-direction: column;
    gap: 0px;
    overflow: hidden;
}

#search_header {
    padding: 38px 0px 0px 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 36px;
    border-bottom: 1px solid #000;
}

#inner_search_header {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

#subject {
    padding: 12px;
    border: 1px solid var(--gray-gray-10, #F2F2F2);
}

.title {
    color: #303337;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; /* 180% */
    letter-spacing: 0.1px;
}

#search_body{
    display: flex;
    flex-direction: column;
    width: 796px;
    overflow-y: auto;

    -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */
}

#search_body::-webkit-scrollbar {
    display: none; /* 크롬, 사파리, 오페라, 엣지 */
}


#items{
    display: flex;
    flex-direction: column;
}

.item {
    width: 100%;
    height: 100px;
    background-color: #fff;
    border-bottom: 1px solid #000;
    cursor: pointer; /* 마우스를 버튼 위에 올리면 포인터로 바뀝니다 */
    transition: background-color 0.3s ease; /* 배경색이 부드럽게 변경됩니다 */
}

.item:hover {
    background-color: #ECECEC;
}

.item_contents {
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0px 15px;
}

.item_main {
    display : flex;
    gap: 4px;
    color: #303337;
    font-family: Inter;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; /* 138.462% */
    letter-spacing: 0.1px;
}

.item_Year {
    display: flex;
}

.item_nations {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.item_nation {
    color: #303337;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px; /* 138.889% */
    letter-spacing: 0.1px;
}