/* left_menubar */
/* left_menubar > logo */
.logo_main {
    padding: 32px 0px 0px 0px;
}

/* left_menubar > menu */
.menu {
    padding: 32px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.menu_button {
    display: flex;
    width: 260px;
    padding: 16px;
    align-items: center;
    gap: 12px;
    border-radius: 5px;
    background-color: #fff;
    /* background-color: aquamarine; */
    cursor: pointer; /* 마우스를 버튼 위에 올리면 포인터로 바뀝니다 */
    transition: background-color 0.3s ease; /* 배경색이 부드럽게 변경됩니다 */
}

.menu_button:hover {
    background-color: #ECECEC;
}

.menu_button_text {
    color: var(--gray-gray-900, #1B1B1B);
    font-family: Pretendard Variable;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 28px */
}

/* left_menubar > profile footer */
.left_footer {
    padding: 390px 0px 0px 0px;
}

.profile {
    display: flex;
    width: 260px;
    justify-content: flex-start;
    align-items: center;
    gap: 22px;

    background-color: #fff;
    /* background-color: bisque; */

    cursor: pointer; /* 마우스를 버튼 위에 올리면 포인터로 바뀝니다 */
    transition: background-color 0.3s ease; /* 배경색이 부드럽게 변경됩니다 */
}

.profile:hover {
    background-color: #ECECEC;
}

.account {
    display: flex;
    align-items: center;
    gap: 12px;
}

.profile_img {
    display: flex;
    height: 46x;
    align-items: center;
}

.user_info {
    width: 154px;
    height: 46px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.user_info_name {
    color: var(--gray-gray-900, #1B1B1B);
    font-family: Pretendard Variable;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 22.4px */
}

.user_info_account {
    color: var(--gray-gray-200, #A7A7A7);
    font-family: Pretendard Variable;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 22.4px */
}

.logout_button {
    margin: 22px 0px 0px 0px;
    width: 260px;
    border-radius: 10px;
    background-color: #F9F9F9;
}

.logout_button:hover {
    background-color: #EAEAEA;

}