.movie_post {
    display: flex;
    flex-direction: column;
    padding: 24px 0px 24px 22px;

    border-bottom: 1px solid #89939E;
}

/* user post 하위 */

.post_header_container {
    display: flex;
    flex-direction: row;
}
/* post의 header부분 */
.post_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.post_member_img {
    width: 56px;
    height: 56px;
}

.post_member_img > img {
    width: 100%;
    height: 100%;
}

/* post header 안의 info들 */
.post_infos {
    display: flex;
    flex-direction: column;
    width: 640px;

    color: var(--gray-gray-900, #1B1B1B);
    text-align: center;
    font-family: Pretendard Variable;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 22.4px */
}

.post_info {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.post_member_id {
    color: var(--gray-gray-200, #A7A7A7);
    font-weight: 600;

}

.post_time {
    color: var(--gray-gray-200, #A7A7A7);
    font-weight: 400;

}

.post_etc {
    color: var(--gray-gray-200, #A7A7A7);
    font-weight: 700;

}

/* post header안의 setting icon */
.post_setting {
    z-index: 1;
}

/* user post의 content */
.post_content {
    display: flex;
    flex-direction: column;
    padding: 20px 0px 0px 68px;
}

.post_content_text {
    color: var(--gray-gray-500, #404040);
    font-family: Pretendard Variable;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
}

/* post : footer */

.post_footer {
    padding: 16px 0px 0px 64px;
    display: flex;
    flex-direction: row;
    gap: 58px;
}

.post_footer_comments {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.post_footer_likes {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

#post_id {
    display: none;
}
