body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
}

.form-class{
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

h1 {
    color: #000000;
}

form {
    width: 500px;
    height: 80vh;
    background-color: #fff;
    border: 1px solid #e6ecf0;
    border-radius: 5px; /* 둥근 모서리 */
    padding: 20px;
    display: flex;
    flex-direction: column;
}

input {
    border: 1px solid #e6ecf0;; /* 테두리 제거 */
    margin-bottom: 20px;
    border-radius: 5px; /* 둥근 모서리 */
    padding: 10px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
}

input:focus {
    border-color: #9E00FF;
    outline: none;
}

.error-message-class {
    color: red;
    margin-bottom: 20px;
}

button {
    background-color: #9E00FF;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}

button:hover {
    background-color: #6400a1;
}