<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>설정</title>
  <link rel="stylesheet" href="/css/main_frame.css">
  <link rel="stylesheet" href="/css/left_menubar.css">
  <link rel="stylesheet" href="/css/right_trending.css">
  <link rel="stylesheet" href="/css/settings.css">
  <link rel="stylesheet" href="/css/useful.css">
  <link rel="stylesheet" href="/css/post_layout.css">
</head>
<body>
  <div class="frame">
    <div class="inner_frame">
        <!-- left menu bar -->
        <div class="left_menubar">
            <div class="logo_main">
                <img src="/icons/logo(main).svg" alt="movlog"/>
            </div>
            <div class="menu">
                <div class="menu_element">
                    <button class="menu_button" id="home_btn" value="home">
                        <div class="menu_icon">
                            <img src="/icons/House.svg" alt="home"/>
                        </div>
                        <div class="menu_button_text">홈</div>
                    </button>
                </div>
                <div class="menu_element">
                    <button class="menu_button" id="password_btn" value="password">
                        <div class="menu_icon">
                            <img src="/icons/Gear.svg" alt="notifications"/>
                        </div>
                        <div class="menu_button_text">비밀번호 변경</div>
                    </button>
                </div>
                <div class="menu_element">
                    <button class="menu_button" id="nickname_btn" value="nickname">
                        <div class="menu_icon">
                            <img src="/icons/Gear.svg" alt="Search"/>
                        </div>
                        <div class="menu_button_text">닉네임 변경</div>
                    </button>
                </div>
                <div class="menu_element">
                    <button class="menu_button" id="delete_btn" value="delete">
                        <div class="menu_icon">
                            <img src="/icons/Gear.svg" alt="Search"/>
                        </div>
                        <div class="menu_button_text">계정 삭제</div>
                    </button>
                </div>
            </div>
        </div>
    
        <!-- center body -->
        <div class="center_body">
          <div class="form-class">
            <h2>비밀번호 변경</h2>
            <form th:method="post" th:action="@{/settings/password}" th:object="${editDto}">
              <div>
                <label th:for="loginId">이메일 : </label>
                <label th:text="${loginId}"></label>
              </div>
              <br/>
              <div>
                <label th:for="nowPassword"></label>
                <input type="password" th:field="*{nowPassword}" placeholder="현재 비밀번호" required/>
              </div>
              <br/>
              <div>
                <label th:for="newPassword"></label>
                <input type="password" th:field="*{newPassword}" placeholder="새 비밀번호" required/>
              </div>
              <br/>
              <div>
                <label th:for="newPasswordCheck"></label>
                <input type="password" th:field="*{newPasswordCheck}" placeholder="새 비밀번호 확인" required/>
              </div>
              <br/>
              <button type="submit">수정</button>
            </form>
          </div>
        </div>
    
        <!-- right trending -->
        <div class="right_trending">
            <div class="right_trending_content">
                <div id="inner_search_header">
                    <select id="subject">
                        <option value="movieQuery">Movie</option>
                        <option value="userQuery">User</option>
                    </select>
                    <div class="right_search">
                        <img src="/icons/MagnifyingGlass.svg" width="24" alt="search"/>
                        <input type="text" class="search_input" placeholder="검색">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
  const menuEvent = document.querySelectorAll(".menu_button");
  for (let s of menuEvent) {
      s.addEventListener("click", e => {
          const current = e.currentTarget;
          if (current.value == "home") {
            let urlParam = current.value;
            window.open('/', '_self');
          }
          if (current.value == "password") {
              let urlParam = "settings/password";
              //let memberId = document.getElementById('user_id').value;
              //window.open('/' + urlParam + '/' + memberId, '_self');
              window.open('/' + urlParam, '_self');
          }
          if (current.value == "nickname") {
              let urlParam = "settings/nickname";
              //let memberId = document.getElementById('user_id').value;
              //window.open('/' + urlParam + '/' + memberId, '_self');
              window.open('/' + urlParam, '_self');
          }
          if (current.value == "delete") {
            let urlParam = "settings/delete";
            //let memberId = document.getElementById('user_id').value;
            //window.open('/' + urlParam + '/' + memberId, '_self');
            window.open('/' + urlParam, '_self');
          }
      });
  }
</script>
</body>
</html>