<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="로그인"></title>
</head>
<body>
<div>
    <h1>MOVLOG</h1>
    <form th:method="post" th:action="login" th:object="${memberLoginRequest}">
        <div>
            <label th:for="loginId"></label>
            <input type="text" th:field="*{loginId}" placeholder="아이디(이메일:example@example.com)" required/>
        </div>
        <br/>
        <div>
            <label th:for="password"></label>
            <input type="password" th:field="*{password}" placeholder="비밀번호" required/>
        </div>
        <br/>
        <button type="submit">로그인</button>
        <button type="button" th:onclick="location.href='/join'">계정 만들기</button>
    </form>
</div>
</body>
</html>

<style>
.error-class {
    color: red;
}
.error-input {
    border-color: red;
}
</style>