<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="로그인"></title>
    <link rel="stylesheet" href="/css/login.css">
    <style>
    </style>
</head>
<body>
<div class="form-class">
    <form th:method="post" th:action="login" th:object="${memberLoginRequest}">
        <h1>MOVLOG</h1>
        <div>
            <label th:for="loginId"></label>
            <input type="text" th:field="*{loginId}" placeholder="아이디(이메일:example@example.com)" required/>
        </div>
        <br/>
        <div>
            <label th:for="password"></label>
            <input type="password"  th:field="*{password}" placeholder="비밀번호" required/>
        </div>
        <br/>
        <button type="submit" class="login-button">로그인</button>
        <button type="button" th:onclick="location.href='/join'" class="join-button">계정 만들기</button>
    </form>
</div>
</body>
</html>