<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main_frame.css">
    <link rel="stylesheet" href="/css/left_menubar.css">
    <link rel="stylesheet" href="/css/right_trending.css">
    <link rel="stylesheet" href="/css/center_body_movie.css">
    <link rel="stylesheet" href="/css/modal_body.css">
    <title>MoviePage</title>

    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <!-- 모달 스타일 -->
    <style>
    </style>
</head>
<body>
    <div class="frame">

        <div class="inner_frame">
    
            <!-- left menu bar -->
            <div class="left_menubar">
                <div class="logo_main">
                    <img src="/icons/logo(main).svg" alt="movlog"/>
                </div>

                <div class="menu">
                    <div class="menu_element">
                        <button class="menu_button" id="home_btn" value="home">
                            <div class="menu_icon">
                                <img src="/icons/House.svg" alt="home"/>
                            </div>
                            <div class="menu_button_text">홈</div>
                        </button>
                    </div>
                    <div class="menu_element">
                        <button class="menu_button" id="notification_btn" value="notifications">
                            <div class="menu_icon">
                                <img src="/icons/Heart.svg" alt="notifications"/>
                            </div>
                            <div class="menu_button_text">알림</div>
                        </button>
                    </div>
                    <div class="menu_element">
                        <button class="menu_button" id="search_btn" value="search">
                            <div class="menu_icon">
                                <img src="/icons/MagnifyingGlass.svg" alt="Search"/>
                            </div>
                            <div class="menu_button_text">검색</div>
                        </button>
                    </div>
                    <div class="menu_element">
                        <button class="menu_button" id="watchedlsit_btn" value="watched">
                            <div class="menu_icon">
                                <img src="/icons/EyeOpened.svg" alt="WatchList"/>
                            </div>
                            <div class="menu_button_text">내가 본 영화</div>
                        </button>
                    </div>
                    <div class="menu_element">
                        <button class="menu_button" id="watchlist_btn" value="towatch">
                            <div class="menu_icon">
                                <img src="/icons/EyeClosed.svg" alt="towatchlist"/>
                            </div>
                            <div class="menu_button_text">보고싶은 영화</div>
                        </button>
                    </div>
                    <div class="menu_element">
                        <button class="menu_button" id="profile_btn" value="profile">
                            <div class="menu_icon">
                                <img src="/icons/UserCircle.svg" alt="profile"/>
                            </div>
                            <div class="menu_button_text">프로필</div>
                        </button>
                    </div>
                    <div class="menu_element">
                        <button class="menu_button" id="settings_btn" value="settings">
                            <div class="menu_icon">
                                <img src="/icons/Gear.svg" alt="profile"/>
                            </div>
                            <div class="menu_button_text">설정</div>
                        </button>
                    </div>
                </div>

                <div class="left_footer">
                    <button class="profile">
                        <div class="account">
                            <div class="profile_img">
                                <img src="/img/example_profile_img.svg" alt="img"/>
                            </div>
                            <div class="user_info">
                                <div class="user_info_name" th:text="${loginMember.nickname}">
                                    김익명
                                </div>
                                <div class="user_info_account" th:text="${loginMember.loginId}">
                                    @anonymouskim123
                                </div>
                            </div>
                        </div>
                        <div class="more">
                            <img src="/icons/DotsThree.svg" alt="more"/>
                        </div>
                    </button>

                    <!-- 로그아웃 버튼 임시 추가 -->
                    <button class="logout_button" th:onclick="location.href='/logout'">
                        <div class="menu_button_text">로그아웃</div>
                    </button>    
                    <!-- 로그아웃 버튼 임시 추가 -->

                    <!-- 유저 아이디 저장용 태그 -->
                    <button id="user_id" th:value="${loginMember.id}"></button>

                </div>
            </div>

            <!-- center body -->
            <div class="center_body">
                <div id="movie_header">
                    <div class="movie_banner">
                        <div class="movie_content">
                            <div th:each="movie : ${movie}">
                                <div id="movie_title">
                                    <div th:text="${movie.titleKo}"></div>
                                    <div id="movie_year">
                                        (
                                        <div th:text="${movie.prdtYear}"></div>
                                        )
                                    </div>
                                </div>

                                <!-- <div th:text="${movie.titleEn}"></div>
                                <div th:text="${movie.prdtYear}"></div> -->
                                <div id="movie_specifics">
                                    <div id="movie_directors">
                                        감독 :
                                        <div th:each="director : ${movie.directors}">
                                            <div th:text="${director.name}"></div>
                                        </div>
    
                                    </div>
    
                                    <div id="movie_actors">
                                        출연 :
                                        <div class="movie_actor" th:each="actor : ${movie.actors}">
                                            <div th:text="${actor.name}"></div>
                                        </div>
    
                                    </div>

                                    <span id="movie_id" th:text="${movie.id}"></span>
    
                                    <!-- <div th:each="genre : ${movie.genre}">
                                        <div th:text="${genre.name}"></div>
                                    </div>

                                    <div th:text="${movie.runTime}"></div>

                                    <div th:text="${movie.watchGrade}"></div> -->
                                </div>
                            </div>
                        </div>
                        <div class="movie_btn">
                            <div class="list_btn" id="watchedlist_btn">
                                <div class="btn_content">
                                    <img class="btn_icon" src="/icons/EyeClosed.svg"/>
                                    <!-- notwatched:안봤습니다 watched:봤습니다:) -->
                                    <span class="btn_txt">안봤습니다</span>
                                </div>
                            </div>
                            <div class="list_btn" id="wishlist_btn">
                                <div class="btn_content">
                                    <!-- <img class="btn_icon" src="/icons/EyeClosed.svg" alt="WatchList"/> -->
                                    <!-- not_listed:보고싶은 영화에 담기 listed:담았습니다:) -->
                                    <span class="btn_txt">보고싶은 영화에 담기</span>
                                </div>
                            </div>
                            <div class="list_btn" id="write_btn" onclick="openModal()">
                                <div class="btn_content">
                                    <!-- <img class="btn_icon" src="/icons/EyeClosed.svg" alt="WatchList"/> -->
                                    <div class="btn_txt">글 작성하기</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="select">
                        <div class="select_btn">
                            인기 리뷰
                        </div>
                        <div class="select_btn">
                            최근 리뷰
                        </div>
                    </div>
                </div>
                <!-- 검색결과 띄우는 창 -->
                <div id="movie_body">

                    <div id="myModal" class="modal">
                        <div class="modal-content">
                            <!-- <button class="close" onclick="closeModal()">X</button>  -->
                            <!-- 여기에 writePost.html의 내용이 로드됩니다 -->
                            <div id="modalBody"></div>
                        </div>
                    </div>

                </div>
            </div>
        
            <!-- right trending -->
            <div class="right_trending" id="right">
                <div class="right_trending_content">
                    <div id="inner_search_header">
                        <select id="subject">
                            <option value="movieQuery">Movie</option>
                            <option value="userQuery">User</option>
                        </select>
                        <div class="right_search">
                            <img src="/icons/MagnifyingGlass.svg" width="24" alt="search"/>
                            <input type="text" class="search_input" placeholder="검색">
                        </div>
                    </div>
                </div>
            </div>
        
        </div>

    </div>

    <script src="../menu_control.js"></script>
    <script th:inline="javascript">
        /* watched 여부 확인 */
        document.addEventListener("DOMContentLoaded", function() {
            const movieId = document.querySelector("#movie_id").innerText;
            const watchedBtn = document.querySelector("#watchedlist_btn");
            const wishBtn = document.querySelector("#wishlist_btn");

            let apiURL1 = '/movie/' + movieId + '/isSeen';
            let apiURL2 = '/movie/' + movieId + '/isToSee';

            //is Seen 여부
            fetch(apiURL1, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                    //'Cookie': document.cookie
                },
            })
            .then(response => {
                console.log(response);
                return response.json();
            })
            .then(data => {
                if(data == true){
                    watchedBtn.style.background = '#EDEFF0';
                    watchedBtn.style.color = '#303337';
                    watchedBtn.querySelector('img').src = '/icons/EyeOpened.svg';
                    watchedBtn.querySelector('span').innerText = '봤습니다:)';
                }
            })
            .catch(error => {
                console.log("에러: ", error);
            });

            //is To See 여부
            fetch(apiURL2, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                    //'Cookie': document.cookie
                },
            })
            .then(response => {
                console.log(response);
                return response.json();
            })
            .then(data => {
                if(data == true){
                    wishBtn.style.background = '#EDEFF0';
                    wishBtn.style.color = '#303337';
                    wishBtn.querySelector('span').innerText = '담았습니다:)';
                }
            })
            .catch(error => {
                console.log("에러: ", error);
            });
        });

        const watchedBtn = document.querySelector("#watchedlist_btn");
        watchedBtn.addEventListener("click", e => {
            const movieId = document.querySelector("#movie_id").innerText;
            let status = watchedBtn.querySelector('span').innerText;
            if (status == '안봤습니다') {
                watchedBtn.style.background = '#EDEFF0';
                watchedBtn.style.color = '#303337';
                watchedBtn.querySelector('img').src = '/icons/EyeOpened.svg';
                watchedBtn.querySelector('span').innerText = '봤습니다:)';
                let apiURL = '/bookmark/' + movieId + '/seen/add';

                fetch(apiURL, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        //'Cookie': document.cookie
                    },
                })
                .then(response => {
                    console.log(response);
                })
                .then(data => {
                        console.log('요청이 성공적으로 처리되었습니다.', data);
                })
                .catch(error => {
                    console.log("에러: ", error);
                });
            }
            else {
                // watchedBtn.style.background = '#EDEFF0';
                // watchedBtn.style.color = '#303337';
                // watchedBtn.querySelctor('img').src = '/icons/EyeClosed.svg';
                // watchedBtn.querySelector('span').innerText = '안봤습니다';
                // apiURL = '/bookmark/' + movieId + '/toSee/delete';
            }

        });
        const wishBtn = document.querySelector("#wishlist_btn");
        wishBtn.addEventListener("click", e => {
            const movieId = document.querySelector("#movie_id").innerText;
            let status = wishBtn.querySelector('span').innerText;
            if (status == '보고싶은 영화에 담기') {
                wishBtn.style.background = '#EDEFF0';
                wishBtn.style.color = '#303337';
                wishBtn.querySelector('span').innerText = '담았습니다:)';
                let apiURL = '/bookmark/' + movieId + '/toSee/add';

                fetch(apiURL, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        //'Cookie': document.cookie
                    },
                })
                .then(response => {
                    console.log(response);
                })
                .then(data => {
                        console.log('요청이 성공적으로 처리되었습니다.', data);
                })
                .catch(error => {
                    console.log("에러: ", error);
                });
            }
            else {
                // wishBtn.style.background = '#EDEFF0';
                // wishBtn.style.color = '#303337';
                // wishBtn.querySelector('span').innerText = '보고싶은 영화에 담기';
                // apiURL = '/bookmark/' + movieId + '/toSee/delete';
            }

        });

        /*<![CDATA[*/
        const searchEvent = document.querySelectorAll(".search_input");
        for (let s of searchEvent) {
            s.addEventListener('keyup', e => {
                if (e.keyCode == 13) {
                    // querySelectorAll시 다시 객체 불러와야됨
                    const current = e.currentTarget;
                    //let urlParam = new URLSearchParams(location.search);
                    let urlParam = new URLSearchParams();

                    const dropdown = document.querySelector("#subject");
                    const choose = dropdown.selectedIndex;
                    if (choose == 1) {
                        urlParam.set("userQuery", current.value);
                    }
                    else {
                        urlParam.set("movieQuery", current.value);
                    }

                    let new_urlParam = urlParam.toString();
                    let new_path = '/search';
                    window.open(new_path + '?' + new_urlParam, '_self');
                }
            });
        }

        const movieSelect = document.querySelectorAll(".item");
        for (let s of movieSelect) {
            s.addEventListener("click", e => {
              const current = e.currentTarget;
              let urlParam = current.value;
              console.log(urlParam);
              window.open('/movie' + '/' + urlParam, '_self');
            });
        }

        var movieId = /*[[${movie.id}]]*/ 'defaultMovieId';
        var movieTitle = /*[[${movie.titleKo}]]*/ 'defaultMovieId';
        function openModal() {
            fetch('/post?movieId=' + movieId + '&movieTitle=' + movieTitle)
                .then(response => response.text())
                .then(data => {
                    document.getElementById('modalBody').innerHTML = data;
                    document.getElementById('myModal').style.display = 'block';
                });
        }
        
        window.addEventListener('keydown', function(event) { // esc 키 누를 시 모달 close.
            if (event.key === 'Escape') {
                document.getElementById('myModal').style.display = 'none';
                document.getElementById('modalBody').innerHTML = '';
            }
        });
        /*]]>*/
    </script>
</body>
</html>