<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <style>
  </style>
</head>

<body>

<th:block th:if="${result != null}"/>
  <table>
    <tr>
      <th>제목</th>
      <th>제작년도</th>
      <th>국가</th>
    </tr>
    <tr th:each="movie : ${movie}">
      <td th:text="${movie.titleKo}">N/A</td>
      <td th:text="${movie.prdtYear}">N/A</td>
      <td th:each="nation : ${movie.nations}">
        <span th:text="${nation.id}"></span>
      </td>
    </tr>
  </table>

<ul id="list"></ul>

<script>

</script>
</body>

</html>