<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main_frame.css">
    <link rel="stylesheet" href="/css/left_menubar.css">
    <link rel="stylesheet" href="/css/right_trending.css">
    <link rel="stylesheet" href="/css/center_body_user.css">
    <link rel="stylesheet" href="/css/useful.css">
    <link rel="stylesheet" href="/css/post_layout.css">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>

    <title>postPage</title>
</head>
<body>
    <div class="frame">

        <div class="inner_frame">

            <!-- left menu bar -->
            <div class="left_menubar">
                <div class="logo_main">
                    <img src="/icons/logo(main).svg" alt="movlog"/>
                </div>

                <div class="menu">
                    <div class="menu_element">
                        <button class="menu_button" id="home_btn" value="home">
                            <div class="menu_icon">
                                <img src="/icons/House.svg" alt="home"/>
                            </div>
                            <div class="menu_button_text">홈</div>
                        </button>
                    </div>
                    <div class="menu_element">
                        <button class="menu_button" id="notification_btn" value="notifications">
                            <div class="menu_icon">
                                <img src="/icons/Heart.svg" alt="notifications"/>
                            </div>
                            <div class="menu_button_text">알림</div>
                        </button>
                    </div>
                    <div class="menu_element">
                        <button class="menu_button" id="search_btn" value="search">
                            <div class="menu_icon">
                                <img src="/icons/MagnifyingGlass.svg" alt="Search"/>
                            </div>
                            <div class="menu_button_text">검색</div>
                        </button>
                    </div>
                    <div class="menu_element">
                        <button class="menu_button" id="watchedlsit_btn" value="watched">
                            <div class="menu_icon">
                                <img src="/icons/EyeOpened.svg" alt="WatchList"/>
                            </div>
                            <div class="menu_button_text">내가 본 영화</div>
                        </button>
                    </div>
                    <div class="menu_element">
                        <button class="menu_button" id="watchlist_btn" value="towatch">
                            <div class="menu_icon">
                                <img src="/icons/EyeClosed.svg" alt="towatchlist"/>
                            </div>
                            <div class="menu_button_text">보고싶은 영화</div>
                        </button>
                    </div>
                    <div class="menu_element">
                        <button class="menu_button" id="profile_btn" value="profile">
                            <div class="menu_icon">
                                <img src="/icons/UserCircle.svg" alt="profile"/>
                            </div>
                            <div class="menu_button_text">프로필</div>
                        </button>
                    </div>
                    <div class="menu_element">
                        <button class="menu_button" id="settings_btn" value="settings">
                            <div class="menu_icon">
                                <img src="/icons/Gear.svg" alt="profile"/>
                            </div>
                            <div class="menu_button_text">설정</div>
                        </button>
                    </div>
                </div>

                <div class="left_footer">
                    <button class="profile">
                        <div class="account">
                            <div class="profile_img">
                                <img th:src="${loginMember.imageUrl}" alt="img"/>
                            </div>
                            <div class="user_info">
                                <div class="user_info_name" th:text="${loginMember.nickname}">
                                    김익명
                                </div>
                                <div class="user_info_account" th:text="${loginMember.loginId}">
                                    @anonymouskim123
                                </div>
                            </div>
                        </div>
                        <div class="more">
                            <img src="/icons/DotsThree.svg" alt="more"/>
                        </div>
                    </button>

                    <!-- 로그아웃 버튼 임시 추가 -->
                    <button class="logout_button" th:onclick="location.href='/logout'">
                        <div class="menu_button_text">로그아웃</div>
                    </button>
                    <!-- 로그아웃 버튼 임시 추가 -->
                </div>
            </div>

            <!-- center body -->
            <div class="center_body">
                <div id="user_body">
                    <div class="horizontal_line"></div>
                    <div class="current_post">
                        <div class="movie_post" th:object="${post}">
                            <div class="post_header_container">
                                <div class="post_header">
                                    <div class="post_member_img">
                                        <img th:src="${post.memberImageUrl}" alt="img">
                                    </div>
                                    <div class="post_infos">
                                        <div class="post_info">
                                            <div class="post_member" th:text="${post.memberNickname}"></div>
                                            <div class="post_member_id" th:text="${post.memberLoginId}"></div>
                                            <div class="post_time" th:text="${post.createdAt}"></div>

                                        </div>
                                        <div class="post_info">
                                            <div class="post_etc">on</div>
                                            <div class="post_movie" th:text="${post.movieTitle}"></div>
                                        </div>
                                    </div>

                                </div>

                                <!-- 게시글 삭제와 같은 기능 이용할 수 있는 아이콘 -->
                                <div class="post_setting">
                                    <img src="/icons/DotsThree.svg" alt="settings">
                                </div>

                            </div>
                            <div class="post_content">
                                <form action="post/{postId}" method="get">
                                    <div class="post_content_text" th:text="${post.body}"></div>
                                </form>
                                <img class="post_content_img" th:src="${post.imageUrl}">
                            </div>
                            <div class="post_footer">
                                <div class="post_footer_comments" id="post_comments">
                                    <img src="/icons/ChatTeardropDots.svg" width="32" alt="comments"/>
                                    <div th:text="${post.commentCnt}"></div>
                                </div>
                                <div class="post_footer_likes" id="post_likes">
                                    <img src="/icons/Likes.svg" width="32" alt="likes"/>
                                    <span th:text="${post.likeCnt}"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="horizontal_line"></div>
                <div id="post_reply">
                    <div class="reply_profile_img">
                        <img src="/img/example_profile_img.svg" alt="img"/>
                    </div>
                    <!-- 댓글 폼 처리 방식을 결정해야 함(창이나 페이지로 만들지, 백으로 내용 전달 방식) -->
                    <form name="reply_form" th:method="post" th:action="@{/comment/{postId}(postId=${postId})}">
                        <input type="text" class="reply_input" placeholder="댓글을 작성하여 주세요.">
                        <input type="submit" class="reply_submit" placeholder="게시">
                    </form>
                </div>
                <div class="horizontal_line"></div>
                <div id="post_replies">
                    <div class="replies" th:each="comment : ${comments}">
                        <div class="reply_header">
                            <div class="reply_member_img">
                                <img th:src="${comment.memberImageUrl}" alt="img">
                            </div>
                            <div class="reply_info">
                                    <div class="reply_member" th:text="${comment.memberNickname}"></div>
                                    <div class="reply_member_id" th:text="${comment.memberLoginId}"></div>
                                    <div class="reply_time" th:text="${comment.createdAt}"></div>
                            </div>
                            <!-- 자신의 댓글만 삭제 옵션 만들기-->
                            <div class="reply_setting">
                                <img src="/icons/DotsThree.svg" alt="settings">
                            </div>

                        </div>
                        <div class="reply_content">
                            <div class="reply_content_text" th:text="${comment.body}"></div>
                        </div>
                    </div>
                </div>
            </div>
        
            <!-- right trending -->
            <div class="right_trending">
                <div class="right_trending_content">
                    <div id="inner_search_header">
                        <select class="subject">
                            <option value="movieQuery">Movie</option>
                            <option value="memberQuery">User</option>
                        </select>
                        <div class="right_search">
                            <img src="/icons/MagnifyingGlass.svg" width="24" alt="search"/>
                            <input type="text" class="search_input" placeholder="검색">
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <script src="menu_control.js"></script>
    <script>
            /* view_control */

            /* likes_control */
            const likeEvent = document.querySelectorAll(".post_footer_likes");
            for (let s of likeEvent) {
                s.addEventListener("click", e => {
                    const current = e.currentTarget;
                    var imgElement = current.querySelector('img');
                    var likesElement = current.querySelector('span');
                    likes_cnt = parseInt(likesElement.innerText);
                    if (imgElement.alt == "likes") {
                        imgElement.src = "/icons/Likes_Filled.svg";
                        imgElement.alt = "likes_filled";
                        likes_cnt = likes_cnt + 1;
                    }
                    else if (imgElement.alt == "likes_filled") {
                        imgElement.src = "/icons/Likes.svg";
                        imgElement.alt = "likes";
                        likes_cnt = likes_cnt - 1;
                    }
                    likesElement.innerText = likes_cnt;
                });
            }
        
        const searchEvent = document.querySelectorAll(".search_input");
        for (let s of searchEvent) {
            s.addEventListener('keyup', e => {
                // querySelectorAll시 다시 객체 불러와야됨
                const current = e.currentTarget;
                if (e.keyCode == 13 && current.value !== null) {
                    //let urlParam = new URLSearchParams(location.search);
                    let urlParam = new URLSearchParams();

                    const dropdown = current.closest("#inner_search_header").querySelector('.subject');
                    const choose = dropdown.selectedIndex;
                    if (choose == 1) {
                        urlParam.set("memberQuery", current.value);
                    }
                    else {
                        urlParam.set("movieQuery", current.value);
                    }

                    let new_urlParam = urlParam.toString();
                    window.open('/search' + '?' + new_urlParam, '_self');

                }

            });
        }

        </script>
</body>

</html>