<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main_frame.css">
    <link rel="stylesheet" href="/css/left_menubar.css">
    <link rel="stylesheet" href="/css/right_trending.css">
    <link rel="stylesheet" href="/css/center_bookmark.css">
    <link rel="stylesheet" href="/css/useful.css">
    <title>seenMoviesPage</title>

    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
    <div class="frame">

        <div class="inner_frame">

            <!-- left menu bar -->
            <div class="left_menubar">
                <div class="logo_main">
                    <img src="/icons/logo(main).svg" alt="movlog"/>
                </div>

                <div class="menu">
                    <div class="menu_element">
                        <button class="menu_button" id="home_btn" value="home">
                            <div class="menu_icon">
                                <img src="/icons/House.svg" alt="home"/>
                            </div>
                            <div class="menu_button_text">홈</div>
                        </button>
                    </div>
                    <div class="menu_element">
                        <button class="menu_button" id="notification_btn" value="notification">
                            <div class="menu_icon">
                                <img src="/icons/Heart.svg" alt="notification"/>
                            </div>
                            <div class="menu_button_text">알림</div>
                        </button>
                    </div>
                    <div class="menu_element">
                        <button class="menu_button" id="search_btn" value="search">
                            <div class="menu_icon">
                                <img src="/icons/MagnifyingGlass.svg" alt="Search"/>
                            </div>
                            <div class="menu_button_text">검색</div>
                        </button>
                    </div>
                    <div class="menu_element">
                        <button class="menu_button" id="watchedlsit_btn" value="watched">
                            <div class="menu_icon">
                                <img src="/icons/EyeOpened.svg" alt="WatchList"/>
                            </div>
                            <div class="menu_button_text">내가 본 영화</div>
                        </button>
                    </div>
                    <div class="menu_element">
                        <button class="menu_button" id="watchlist_btn" value="towatch">
                            <div class="menu_icon">
                                <img src="/icons/EyeClosed.svg" alt="towatchlist"/>
                            </div>
                            <div class="menu_button_text">보고싶은 영화</div>
                        </button>
                    </div>
                    <div class="menu_element">
                        <button class="menu_button" id="profile_btn" value="profile">
                            <div class="menu_icon">
                                <img src="/icons/UserCircle.svg" alt="profile"/>
                            </div>
                            <div class="menu_button_text">프로필</div>
                        </button>
                    </div>
                    <div class="menu_element">
                        <button class="menu_button" id="settings_btn" value="settings">
                            <div class="menu_icon">
                                <img src="/icons/Gear.svg" alt="profile"/>
                            </div>
                            <div class="menu_button_text">설정</div>
                        </button>
                    </div>
                </div>

                <div class="left_footer">
                    <button class="profile">
                        <div class="account">
                            <div class="profile_img">
                                <img th:src="${loginMember.imageUrl}" alt="img"/>
                            </div>
                            <div class="user_info">
                                <div class="user_info_name" th:text="${loginMember.nickname}">
                                    김익명
                                </div>
                                <div class="user_info_account" th:text="${loginMember.loginId}">
                                    @anonymouskim123
                                </div>
                            </div>
                        </div>
                        <div class="more">
                            <img src="/icons/DotsThree.svg" alt="more"/>
                        </div>
                    </button>

                    <!-- 로그아웃 버튼 임시 추가 -->
                    <button class="logout_button" th:onclick="location.href='/logout'">
                        <div class="menu_button_text">로그아웃</div>
                    </button>    
                    <!-- 로그아웃 버튼 임시 추가 -->

                    <!-- 유저 아이디 저장용 태그 -->
                    <button id="user_id" th:value="${loginMember.id}"></button>

                </div>
            </div>
        
            <!-- center body -->
            <div class="center_body">
                <div class="seen_header">내가 본 영화 리스트</div>
                <div class="horizontal_line"></div>
                <!-- 검색결과 띄우는 창 -->
                <div id="search_body">
                    <th:block th:if="${movies != null}">
                        <div id="items">
                          <div th:each="movie : ${movies}">
                            <button type="button" class="item" th:value="${movie.id}">
                                <div class="item_contents">
                                    <div class="item_main">
                                        <div th:text="${movie.titleKo}"></div>
                                        <div class="item_Year">
                                            (
                                            <div th:text="${movie.prdtYear}"></div>
                                            )
                                        </div>
                                        
                                    </div>
                                    <div class="item_nations">
                                        <div class="item_nation" th:each="nation : ${movie.nations}">
                                            <div th:text="${nation.id}"></div>
                                        </div>

                                    </div>

                                </div>
                              </button>
                          </div>
                        </div>
    
                    </th:block>

                </div>
            </div>
        
            <!-- right trending -->
            <div class="right_trending">
                <div class="right_trending_content">
                    <div id="inner_search_header">
                        <select class="subject">
                            <option value="movieQuery">Movie</option>
                            <option value="memberQuery">User</option>
                        </select>
                        <div class="right_search">
                            <img src="/icons/MagnifyingGlass.svg" width="24" alt="search"/>
                            <input type="text" class="search_input" placeholder="검색">
                        </div>
                    </div>
                </div>
            </div>
    
        </div>

        <!-- test -->
    </div>

    <script src="../menu_control.js" type="text/javascript"></script>
    <script>

        const movieSelect = document.querySelectorAll(".item");
        for (let s of movieSelect) {
            s.addEventListener("click", e => {
                const current = e.currentTarget;
                let urlParam = current.value;
                console.log(urlParam);
                console.log('/movie' + '/' + urlParam);
                window.open('/movie' + '/' + urlParam, '_self');
            });
        }

        
        const searchEvent = document.querySelectorAll(".search_input");
        for (let s of searchEvent) {
            s.addEventListener('keyup', e => {
                // querySelectorAll시 다시 객체 불러와야됨
                const current = e.currentTarget;
                if (e.keyCode == 13 && current.value !== null) {
                    //let urlParam = new URLSearchParams(location.search);
                    let urlParam = new URLSearchParams();

                    const dropdown = current.closest("#inner_search_header").querySelector('.subject');
                    const choose = dropdown.selectedIndex;
                    if (choose == 1) {
                        urlParam.set("memberQuery", current.value);
                    }
                    else {
                        urlParam.set("movieQuery", current.value);
                    }

                    let new_urlParam = urlParam.toString();
                    window.open('/search' + '?' + new_urlParam, '_self');

                }

            });
        }
    </script>
</body>
</html>