<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main_frame.css">
    <link rel="stylesheet" href="/css/left_menubar.css">
    <link rel="stylesheet" href="/css/right_trending.css">
    <link rel="stylesheet" href="/css/center_body_user.css">
    <link rel="stylesheet" href="/css/useful.css">

    <title>User Page</title>
</head>

<body>
    <div class="frame">

        <div class="inner_frame">

            <!-- left menu bar -->
            <div class="left_menubar">
                <div class="logo_main">
                    <img src="/icons/logo(main).svg" alt="movlog"/>
                </div>

                <div class="menu">
                    <div class="menu_element">
                        <button class="menu_button" id="home_btn" value="home">
                            <div class="menu_icon">
                                <img src="/icons/House.svg" alt="home"/>
                            </div>
                            <div class="menu_button_text">홈</div>
                        </button>
                    </div>
                    <div class="menu_element">
                        <button class="menu_button" id="notification_btn" value="notifications">
                            <div class="menu_icon">
                                <img src="/icons/Heart.svg" alt="notifications"/>
                            </div>
                            <div class="menu_button_text">알림</div>
                        </button>
                    </div>
                    <div class="menu_element">
                        <button class="menu_button" id="search_btn" value="search">
                            <div class="menu_icon">
                                <img src="/icons/MagnifyingGlass.svg" alt="Search"/>
                            </div>
                            <div class="menu_button_text">검색</div>
                        </button>
                    </div>
                    <div class="menu_element">
                        <button class="menu_button" id="watchedlsit_btn" value="watched">
                            <div class="menu_icon">
                                <img src="/icons/EyeOpened.svg" alt="WatchList"/>
                            </div>
                            <div class="menu_button_text">내가 본 영화</div>
                        </button>
                    </div>
                    <div class="menu_element">
                        <button class="menu_button" id="watchlist_btn" value="towatch">
                            <div class="menu_icon">
                                <img src="/icons/EyeClosed.svg" alt="towatchlist"/>
                            </div>
                            <div class="menu_button_text">보고싶은 영화</div>
                        </button>
                    </div>
                    <div class="menu_element">
                        <button class="menu_button" id="profile_btn" value="profile">
                            <div class="menu_icon">
                                <img src="/icons/UserCircle.svg" alt="profile"/>
                            </div>
                            <div class="menu_button_text">프로필</div>
                        </button>
                    </div>
                </div>

                <div class="left_footer">
                    <button class="profile">
                        <div class="account">
                            <div class="profile_img">
                                <img src="/img/example_profile_img.svg" alt="img"/>
                            </div>
                            <div class="user_info">
                                <div class="user_info_name" th:text="${loginMember.nickname}">
                                    김익명
                                </div>
                                <div class="user_info_account" th:text="${loginMember.loginId}">
                                    @anonymouskim123
                                </div>
                            </div>
                        </div>
                        <div class="more">
                            <img src="/icons/DotsThree.svg" alt="more"/>
                        </div>
                    </button>

                    <!-- 로그아웃 버튼 임시 추가 -->
                    <button class="logout_button" th:onclick="location.href='/logout'">
                        <div class="menu_button_text">로그아웃</div>
                    </button>    
                    <!-- 로그아웃 버튼 임시 추가 -->
                </div>
            </div>

            <!-- center body -->
                <!-- <div id="user_banner">
                    <div class="userpage_profile">
                        <div class="userpage_profile">
                            <div class="account">
                                <div class="profile_img">
                                    <img src="/img/example_profile_img.svg" alt="img"/>
                                </div>
                                <div class="user_info">
                                    <div class="user_info_name" th:text="${profileMember.nickname}"></div>
                                    <div class="user_info_account" th:text="${profileMember.loginId}"></div>
                                </div>
                            </div>
                        <div>
                    </div>
                    <div class="user_userpage_info">
                        <div id="post_count">
                            <div>게시물</div>
                            <div class="user_post_count" th:text="${#lists.size(posts)}"></div>
                        </div>
                        <div id="follower_count">
                            <div>팔로워</div>
                            <div class="user_follower_count" th:text="${profileMember.followerCnt}"></div>
                        </div>
                        <div id="following_count">
                            <div>팔로우</div>
                            <div class="user_following_count" th:text="${profileMember.followingCnt}"></div>
                        </div>

                    </div>
                </div>
                <div class="user_content_icons"></div>
                <div class="">
                    <img src="" alt=""/>
                    <div class="user_posts">
                        <div id="user_post">
                            <div th:each="post : ${posts}">
                                <div id="post_member">
                                    <div th:text="${post.memberNickname}"></div>
                                </div>
                                <div id="post_member_id">
                                    <div th:text="${post.memberLoginId}"></div>
                                </div>
                                <div id="post_time">
                                    <div th:text="${post.createdAt}"></div>
                                </div>

                                <div id="post_title">
                                    <span class="movie_on">on </span>
                                  
                                    <div id="post_movie">
                                        <div th:text="${post.movieTitle}"></div>
                                    </div>
                                </div>

                                <div id="post_body">
                                    <div th:text="${post.body}"></div>
                                </div>

                                <div id="post_likes">
                                    <div th:text="${post.likeCnt}"></div>
                                </div>

                                <div id="post_memberLoginId">
                                    <div th:text="${post.memberLoginId}"></div>
                                </div>

                                <div id="post_memberNickname">
                                    <div th:text="${post.memberNickname}"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="user_pictures">
                        <div id="user_picture">

                        </div>

                    </div>

                </div>

            </div>
            </div> -->

            <div class="center_body">
                <div class="user_banner">
                    <div class="user_profile">
                        <div class="user_profile_img">
                            <img src="/img/example_profile_img.svg" alt="img"/>
                        </div>
                        <div class="user_profile_info">
                            <div class="user_info_name" th:text="${profileMember.nickname}"></div>
                            <div class="user_info_account" th:text="${profileMember.loginId}"></div>
                        </div>
                    </div>
                    <div class="user_data">
                        <div class="user_count" id="post_count">
                            <div>게시물</div>
                            <div class="user_count_data" th:text="${#lists.size(posts)}"></div>
                        </div>
                        <div class="user_count" id="follower_count">
                            <div>팔로워</div>
                            <div class="user_count_data" th:text="${profileMember.followerCnt}"></div>
                        </div>
                        <div class="user_count" id="following_count">
                            <div>팔로우</div>
                            <div class="user_count_data" th:text="${profileMember.followingCnt}"></div>
                        </div>
                    </div>
                </div>
                <div class="user_content_view"></div>
                <div class="horizontal_line"></div>
                <div class="user_posts">
                    <div class="user_post" th:each="post : ${posts}">
                        <div class="post_header">
                            <div class="post_member_img">
                                <img src="/img/example_profile_img.svg" alt="img">
                            </div>
                            <div class="post_infos">
                                <div class="post_info">
                                    <div class="post_member" th:text="${post.memberNickname}"></div>
                                    <div class="post_member_id" th:text="${post.memberLoginId}"></div>
                                    <div class="post_time" th:text="${post.createdAt}"></div>

                                </div>
                                <div class="post_info">
                                    <div class="post_etc">on</div>
                                    <div class="post_movie" th:text="${post.movieTitle}"></div>
                                </div>
                            </div>

                        </div>
                        <div class="post_content">
                            <div class="post_content_text" th:text="${post.body}"></div>
                            <div class="post_content_img"></div>
                        </div>
                        <div class="post_footer">
                            <div class="post_comments"></div>
                            <div class="post_likes"></div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- right trending -->
            <div class="right_trending" id="right">
                <div class="right_trending_content">
                    <div class="right_search">
                        <img src="/icons/MagnifyingGlass.svg" width="24" alt="search"/>
                        <input type="text" class="search_input" placeholder="검색">
                    </div>
                </div>
            </div>

        </div>

    </div>
    <script src="menu_control.js"></script>
    <script>
    </script>
</body>

</html>