<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <style>
  </style>
  <link rel="stylesheet" href="/css/post_body.css">
</head>

<body>
  <input type="text" id="tag1" name="tag" class="tag-input" placeholder="태그 입력" maxlength="6"> <!-- 최대 글자 수 6개 -->
  <input type="text" id="tag2" name="tag" class="tag-input" maxlength="6">
  <input type="text" id="tag3" name="tag" class="tag-input" maxlength="6">
  <input type="text" id="tag4" name="tag" class="tag-input" maxlength="6">
  <input type="text" id="tag5" name="tag" class="tag-input" maxlength="6">
  <button type="button" id="sendTag">Send Tag</button>

  <form method="post" th:action="@{/post}" th:object="${postDto}" enctype="multipart/form-data">
    <!-- <div class="movie-title" th:text="${param.movieTitle} + '에 대한 제 생각은요..'"></div> -->
    <label th:for="movieId"></label>
    <label>
      <input type="hidden" th:field="*{movieId}" required/>
    </label>
    <br/>
    <label>
      <textarea class="Posttextarea" th:field="*{body}" th:placeholder="${param.movieTitle} + '에 대해서 어떻게 생각하시나요?'" required></textarea>
    </label>
    <label>
      <input type="file" th:field="*{image}" accept="image/*">
    </label>
    <button type="submit">POST</button>
  </form>

  <script>
  </script>
</body>
</html>