<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <style>
  </style>
  <link rel="stylesheet" href="/css/post_body.css">
</head>

<body>
  <form method="post" th:action="@{/post}" th:object="${postDto}" enctype="multipart/form-data">
    <!-- <div class="movie-title" th:text="${param.movieTitle} + '에 대한 제 생각은요..'"></div> -->
    <label th:for="movieId"></label>
    <label>
      <input type="hidden" th:field="*{movieId}" required/>
    </label>
    <br/>
    <label>
      <textarea th:field="*{body}" th:placeholder="${param.movieTitle} + '에 대해서 어떻게 생각하시나요?'" required></textarea>
    </label>
    <label>
      <input type="file" accept="image/*" th:field="*{image}"> <!-- 백엔드로 이미지 전달 위해 th:field="*{image}" 속성 추가 필요. -->
    </label>
    <button type="submit">POST</button>
  </form>
</body>
</html>