<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <style>
  </style>
</head>

<body>

<script>
    window.onload = function() {
        var form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "/{id}/post");
        form.setAttribute("enctype", "multipart/form-data"); // 백엔드에서 게시물 데이터를 받기 위해 추가. 건우

        /* 영화 데이터를 게시물과 결합하기 위해 추가. 건우 */
        // Create label for movieId
        var movieIdLabel = document.createElement("label");
        movieIdLabel.setAttribute("for", "movieId");
        movieIdLabel.innerHTML = "Movie ID: ";

        // Create input for movieId
        var movieIdInput = document.createElement("input");
        movieIdInput.setAttribute("type", "text");
        movieIdInput.setAttribute("id", "movieId");
        movieIdInput.setAttribute("name", "movieId");
        movieIdInput.required = true;

        // Append label and input for movieId to the form
        form.appendChild(movieIdLabel);
        form.appendChild(movieIdInput);

        var textarea = document.createElement("textarea");
        textarea.setAttribute("id", "post");
        textarea.setAttribute("name", "post");
        textarea.setAttribute("cols", "100");
        textarea.setAttribute("rows", "20");
        textarea.required = true;

        form.appendChild(textarea);

        var button = document.createElement("button");
        button.setAttribute("type", "submit");
        button.innerHTML = "POST";

        form.appendChild(button);

        document.body.appendChild(form);
    }
</script>
</body>

</html>